<div class="background-skelly">
    <img src="../../assets/BackgroundImage.png" alt="background-skelly">
</div>
<div class="agenda-parent">
    <div class="party-title">
        <h1>
            The Great Rollens Disappearance
        </h1>
    </div>
    <p>
        Back in 1979, Camp Rollens was your typical mid-western American summer camp. Like every other year, the counselors came together to 
        celebrate after all the kids had finally returned home. The morning after the party in 1979, however, no one left camp. No counselor arrived home.
        It was one of the greatest mass disappearances in history, but with no witness or bodies, police eventually abandoned the search. It became known as 
        The Great Rollens Disappearance.
    </p>
    <p>  
        The police had only ever found one lead. Near the camp, a cult had established itself earlier in the year. They called themselves the 
        'Threads of Doom'. No one knew much about them aside from their frightening appearance. Notes in police reports mention worshipping 
        bones and the belief in a prophet named 'Doomweaver'. Their religious texts featured unholy rituals and omens. The cult proved to be a dead end, however.
         All of the members had disappeared the same night as the counselors.
    </p>
    <p>
        Travel back with us to that final bonfire at Camp Rollens for a fancy-dress party... 
    </p>
    <div class="act-title">
        <h2>
            Act 1
        </h2>
        <h3>
            'The Firepits'
        </h3>
        <h3>
            Starting at 19:30
        </h3>
    </div>
    <p>
        The annual party kicks off by the fire. While a classic horror film plays in the background, 
        join us for a light dinner. During the movie, enjoy games and socialising. Themed and regular drinks will be 
        provided. If you're looking for a specific beverage, feel free to bring it along. 
    </p>
    <ul>
        <li>
            Classic horror film
        </li>
        <li>
            Games and socialising
        </li>
        <li>
            Light dinner
        </li>
        <li>
            Drinks
        </li>
    </ul>
    <div class="act-title">
        <h2>
            Act 2
        </h2>
        <h3>
            'The Ritual Begins'
        </h3>
        <h3>
            Starting at 21:00
        </h3>

    </div>
    <p>
        The Threads of Doom have arrived to start their ritual, but the party must go on. The featured horror film of the evening will begin. Enjoy Halloween
        snacks and themed drinks throughout the film.
    </p>
    <ul>
        <li>
            Featured horror film
        </li>
        <li>
            Halloween-themed snacks
        </li>
        <li>
            Drinks
        </li>
    </ul>
    <div class="act-title">
        <h2>
            Other Info
        </h2>
    </div>
    <p>
        Dress however you like for the fancy dress. Even though the party theme is set in the 70s, you can dress in a modern-day themed.
    </p>
</div>
