<section>
    <h1>
        Halloween Party '79
    </h1>
    <h2>
        Camp Rollens
    </h2>
    <p>
        Join us at the campfire pits for the last-night-of-summer-camp tradition where Halloween has come early. 
    </p>
    <p>
        All you need to bring is yourself decorated in a cosutme of your choice.
    </p>
    <h2>
        Act 1
    </h2>
    <h3>
        Campfire
    </h3>
    <p>
        Start time: 19.30
    </p>
    <ul>
        <li>
            Optional movie
        </li>
        <li>
            Games
        </li>
        <li>
            Light dinner
        </li>
        <li>
            Drinks
            <ul>
                <li>
                    Surprise summer cocktail
                </li>
                <li>
                    Cider
                </li>
                <li>
                    Wine
                </li>
            </ul>
        </li>
    </ul>
    <h2>
        Act 2
    </h2>
    <h3>
        The Ritual
    </h3>
    <ul>
        <li>
            Feature film
        </li>
        <li>
            Drinks
            <ul>
                <li>
                    Surprise spooky cocktail
                </li>
                <li>
                    Cider
                </li>
                <li>
                    Wine
                </li>
            </ul>
        </li>
        <li>
            Snacks:
            <ul>
                <li>
                    Popcorn
                </li>
                <li>
                    Candy
                </li>
                <li>
                    Home-roasted pumpkin seeds
                </li>
            </ul>
        </li>
    </ul>
</section>
