<div class="background-skelly">
    <img src="../../assets/BackgroundImage.png" alt="background-skelly">
</div>
<div class="agenda-parent">
    <div class="party-title">
        <h1>
            The Cursed Arcade
        </h1>
    </div>
    <p>
        The year is 1999, and Darren is the owner of a dying arcade. Half of the games no longer work, the carpet is sticky from years of spilled sodas.
        The only lights in the dark building are the flashing lights of the arcade cabinets. Darren's waiting, alone again, until closing.
        But all kinds of things lurk in the dark... 
    </p>
    <p>  
        The next day, police are called to investigate the arcade they had forgotten about. Inside, the carpet is newly stained with blood, 
        but there's no body. All the arcade cabinets are overturned except for one, now standing in the middle of the space. The screen glows,
        reading Game Over...
    </p>
    <p>
        You're invited to take a trip to the 90s and experience that October night at the Cursed Arcade during this fancy-dress party on 
        2 November, 2024. 
    </p>
    <div class="act-title">
        <h2>
            Level 1
        </h2>
        <h3>
            'Screens'
        </h3>
        <h3>
            Starting at 19:00
        </h3>
    </div>
    <p>
        The annual party kicks off in the arcade. While a classic horror film plays in the background, 
        join us for a light dinner. During the movie, enjoy games and chat. Themed and regular drinks will be 
        provided. If you're looking for a specific beverage, feel free to bring it along. 
    </p>
    <ul>
        <li>
            Classic horror film
        </li>
        <li>
            Games
        </li>
        <li>
            Chat
        </li>
        <li>
            Light dinner
        </li>
        <li>
            Drinks
        </li>
    </ul>
    <div class="act-title">
        <h2>
            Level 2
        </h2>
        <h3>
            'Ill-fated'
        </h3>
        <h3>
            Starting at 21:00
        </h3>

    </div>
    <p>
        The cursed arcade cabinet has come to life, dragging you to digital hell, but the party must go on. 
        The featured horror film of the evening will begin. Enjoy Halloween
        snacks and themed drinks throughout the film.
    </p>
    <ul>
        <li>
            Featured horror film
        </li>
        <li>
            Halloween-themed snacks
        </li>
        <li>
            Drinks
        </li>
    </ul>
    <div class="act-title">
        <h2>
            Other Info
        </h2>
    </div>
    <p>
        Dress however you like for the fancy dress. Even though the party theme is set in the 90s, you can wear any type of costume.
    </p>
</div>
