  <div class="landing-image-area" [ngClass]="{'is-phone-portrait' : this.deviceSize.getIsPhonePortrait()}">
    <img class="landing-image" src="../assets/IntroSkelly.gif" alt="intro image">
    <p class="entry-password-prompt">
        Enter the author of the prophecies: 
    </p>
    <div class="passcode-container">
        <div class="passcode-char-container" *ngFor="let item of this.passcode; let i = index; first as isFirst">
            <input *ngIf="isFirst; else disabledInput" id="char-{{i}}" type="text" class="entry-password" (input)="onCodeInput($event, i)" (keydown)="this.onBackspace($event, i)" maxlength="1">
            <ng-template #disabledInput>
                <input id="char-{{i}}" autocomplete="off" autocapitalize="off" autocorrect="off" spellcheck="false" type="text" class="entry-password" (input)="onCodeInput($event, i)" (keydown)="onBackspace($event, i)" maxlength="1" disabled>
            </ng-template>
        </div>
    </div>
</div>