
.button-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 30vw;
    padding: 10px;
}


.button-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
}


.direction-buttons{
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 0px 15px 0px 15px;
}

.button-image{
    height: 75px;
}

button{
    background-image: radial-gradient(darkred 50%, red);
    color: white;
    font-weight: bold;
    height: 75px;
    width: 75px;
    border-radius: 75px;
    border: solid red 4px;
}

.button-shadow{
    position: relative;
    background-color: rgb(36, 36, 36);
    border-radius: 75px;
    height: 75px;
    width: 75px;
    top: -73px;
    left: 3px;
    margin: 0;
    padding: 0;
    z-index: -1;
}

.arrow-image{
    position: relative;
    background-size: contain;
    height: 45px;
    width: 45px;
    top: -135px;
    left: 15px;
    margin: 0;
    padding: 0;
    z-index: 1;
    pointer-events: none;
}

.left-arrow{
    background-image: url(../../../assets/arrow-left-icon.png);
}

.right-arrow{
    background-image: url(../../../assets/arrow-right-icon.png);
}

@media(hover: hover){
    button:hover{
        background-image: none;
        background-color: darkred;
    }
}

button:active, button.active{
    background-image: radial-gradient(rgb(112, 0, 0) 20%, darkred);
    background-color: white;
    border: solid rgb(114, 0, 5) 4px;
}

.button-label{
    color: white;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}