.passcode-entry{
    display: block;
    transition: 
        opacity 1.5s,
        rotate 1.5s;
}

.completed-passcode{
    opacity: 0;
    rotate: 180deg;
}

.disabled{
    width: 0px;
    height: 0px;
    visibility: hidden;
    overflow: hidden;
    position: absolute;
}

.party-agenda{
    opacity: 0;
    transition: opacity 1.5s;
}

.agenda-started{
    opacity: 1;
}