.game-parent{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

.game-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 50vw;
    border: solid darkgreen 5px;
}

.button-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50vw;
    padding: 10px;
}

.direction-buttons{
    display: flex;
    justify-content: space-around;
    width: 50%;
}

button{
    background-color: red;
    color: white;
    font-weight: bold;
    height: 75px;
    width: 75px;
    border-radius: 75px;
    border: solid darkred 4px
}

button:hover{
    background-color: rgb(255, 15, 10);
    border: solid rgb(139, 15, 10) 4px;
}

button:active{
    background-color: rgb(230, 0, 5);
    border: solid rgb(114, 0, 5) 4px;
}