.game-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.movie-game{
    border-radius: 16px;
    height: 960;
    width: 620;
}