.game-parent{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 90vh;
  width: 100vw;
  transition: transform 1s ease-in, opacity 1s ease-in;
}

.game-parent.game-complete{
  transform: translatey(100vh);
  opacity: 0;
}

#cabinet-logo{
  content: url(../../assets/cabinet-art.png);
  background-size: cover;
  aspect-ratio: 3 / 1;
  box-shadow: 15px 5px 20px 0px #000000;
  border-radius: 4px;
  border-style: solid;
  border-color: #131313;
}

#cabinet-logo.default-size{
  position: relative;
  top: 50px;
  height: auto;
  width: 51vw;
  max-width: 730px;
  border-width:2vw;
}

#cabinet-logo.phone-portrait{
  position: relative;
  top: 25px;
  width: 85vw;
  max-width: 85vw;
  height: 30vh;
  border-width: 5vw;
}

#cabinet-logo.phone-landscape{
  display: none;
  width: 0;
  height: 0;
  position: absolute;
}

#game-screen{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#game-screen.phone-landscape{
  position: relative;
  left: 5vw;
  border: solid 3vw #131313;
  border-radius: 16px;
}

.game-wall{
  background-color: #131313;
  z-index: -1;
}

.game-wall.default-size{
  width: 2vw;
}

.game-wall.phone-portrait{
  width: 5vw;
}

.game-wall.left-wall{
  border-radius: 0px 0px 0px 16px;
}

.game-wall.right-wall{
  border-radius: 0px 0px 16px 0px;
}

.game-container{
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-color: #0c1c00;
  border-radius: 4px;
}

.game-container.default-size{
  height: 50vh;
  width: 50vw;
  max-width: 700px;
  border-width: 0px 0px 5px 0px;
  box-shadow: 0px 6px 20px 5px #fff;
}

.game-container.phone-portrait{
  height: 50vh;
  width: 80vw;
  border-width: 0px 0px 5px 0px;
  box-shadow: 0px 3px 10px 1px #fff;
}

.game-container.phone-landscape{
  position: relative;
  height: 70vh;
  width: 40vw;
  border-width: 0px;
  box-shadow: 0px 3px 20px 5px #fff;
}

#game-buttons.phone-landscape{
  position: absolute;
  left: -46vw;
  top: -50vh;
  width: 92vw;
}

.game-pad-parent{
  position: relative;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.game-pad-parent.default-size{
  width: 50vw;
  max-width: 720px;
}

.game-pad-parent.phone-portrait{
  width: 80vw;
}

#game-pad{
  position: absolute;
  top: 0;
}

#game-pad.default-size{
  left: -3.5vw;
  border-bottom: 20vh solid #131313;
	border-left: 2vw solid transparent;
	border-right: 2vw solid transparent;
	height: 0;
	width: 53vw;
  z-index: -2;
  max-width: 780px;
}

#game-pad.phone-portrait{
  left: -4.2vw;
  border-bottom: 28vh solid #131313;
	border-left: 2vw solid transparent;
	border-right: 2vw solid transparent;
	height: 0;
	width: 85vw;
  z-index: -2;
  max-width: 780px;
}

#game-pad.phone-landscape{
  display: none;
}