#homeContainer {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-image: url('/assets/Home_Background.png');
    background-repeat: no-repeat;
    background-position: center;
    background-clip: border-box;
    filter: grayscale(0.2);
}

#homeContainer p {
    /* color: white; */
    margin: 0;
    font-family: 'Crystal Radio Kit';
    animation: color-shift 15s ease 0s infinite;
    box-shadow: none!important; 
}

.title-small{
    font-size: 16px;
    margin: 16px 0 !important;
}

.title-large{
    line-height: 32px;
    font-size: 48px;
}

.title-largest{
    line-height: 48px;
    font-size: 64px;
}

#playButton {
    display: block;
    padding: 0px;
    height: 75px;
    width: 250px;
    color: white;
    background-image: linear-gradient(rgb(89, 155, 155), black 20%);
    border-width: 0 4px 4px 0;
    border-color: white;
    box-shadow: 0px -2px 2px 2px inset white;
    justify-items: center;
    align-content: center;
    font-family: 'Chunky Heart';
    font-size: 24px;
    clip-path: polygon(0 0, 230px 0, 250px 20px, 250px 75px, 20px 75px, 0 55px);
    animation: color-shift 15s ease 0s infinite;
}

.scenario {
    padding: 20px;
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-image: url("/assets/BackgroundImage.png");
    background-size: cover;
}

@keyframes fade-in{
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes color-shift{
    0% {
        color: white;
        border-color: white;
        box-shadow: 0px -2px 2px 2px inset white;
    }
    25% {
        color: magenta;
        border-color: magenta;
        box-shadow: 0px -2px 2px 2px inset magenta;
    }
    50% {
        color: yellow;
        border-color: yellow;
        box-shadow: 0px -2px 2px 2px inset yellow;
    }
    75% {
        color: cyan;
        border-color: cyan;
        box-shadow: 0px -2px 2px 2px inset cyan;
    }
}

.story-note {
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
}

.scenario-container button {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
    text-align: center;
    vertical-align: middle;
    padding: 0px;
    width: 150px;
    height: 50px;
    border: 4px solid #d80000;
    box-shadow: 2px 2px 0px #350d0d;
}

.fade-in {
    opacity: 0;
    animation-name: fade-in;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}