.scenario-container {
    padding: 20px;
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-image: url("/assets/BackgroundImage.png");
    background-size: cover;
}

@keyframes fade-in{
    from {opacity: 0;}
    to {opacity: 1;}
}

.story-note {
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
}

.scenario-container button {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
    text-align: center;
    vertical-align: middle;
    padding: 0px;
    width: 150px;
    height: 50px;
    border: 4px solid #d80000;
    box-shadow: 2px 2px 0px #350d0d;
}

.fade-in {
    opacity: 0;
    animation-name: fade-in;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}